@font-face {
  font-family: "Rubik-ExtraBold";
  src: url("/fonts/rubik/Rubik-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-SemiBold";
  src: url("/fonts/rubik/Rubik-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HankenGrotesk-Bold";
  src: url("/fonts/hanken_grotesk/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HankenGrotesk-SemiBold";
  src: url("/fonts/hanken_grotesk/HankenGrotesk-SemiBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HankenGrotesk-Medium";
  src: url("/fonts/hanken_grotesk/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --color-black-standard: #000;
  --color-purple-standard: #5c0ee4;
  --color-purple-dark: #6336b2;
  --color-purple-dark-translucent: #6336b2ee;
  --color-purple-darkest: #14032b;
  --color-purple-light: #930fe4;
  --color-purple-light-translucent: #930fe4ee;
  --color-white-standard: #fff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-mint-standard: #5de995;
  --color-mint-dark: #0f6c34;

  /* Branding */
  --color-brand-primary: var(--color-purple-standard);
  --color-brand-secondary: var(--color-mint-standard);

  /* Fonts */
  --font-title-800: "Rubik-ExtraBold";
  --font-title-700: "Rubik-SemiBold";
  --font-content-800: "HankenGrotesk-Bold";
  --font-content-700: "HankenGrotesk-SemiBold";
  --font-content-500: "HankenGrotesk-Medium";

  /* Dimensions */
  --dim-border-size: 0.08rem;
  --dim-border-active-size: 0.16rem;
  --dim-padding-default: 0.5rem;
  --dim-border-radius-large: 1rem;
  --dim-border-radius-smaller: 0.75rem;
  --dim-border-radius-small: 0.5rem;
  --dim-margin-content: 2rem;
  --dim-padding-main: 4rem;
  --dim-padding-main-top: 3.5rem;
  --dim-font-size-heading: 3rem;
  --dim-icon-size: 1.25rem;

  /* Other styles */
  --style-background-gradient-radius: 198deg;
  --style-background-gradient: linear-gradient(
    var(--style-background-gradient-radius),
    var(--color-purple-light-translucent) 7.55%,
    var(--color-purple-dark-translucent) 71.48%
  );
  --style-fancy-box-shadow: 0px 9px 19px 0px rgba(20, 3, 43, 0.2),
    0px 34px 34px 0px rgba(20, 3, 43, 0.17),
    0px 78px 47px 0px rgba(20, 3, 43, 0.1),
    0px 138px 55px 0px rgba(20, 3, 43, 0.03),
    0px 215px 60px 0px rgba(20, 3, 43, 0);
}

body {
  background-color: var(--color-white-standard);
  background-image: url("/media/filler.svg"), var(--style-background-gradient),
    /*TODO: fix incorrect position of this */ url("/media/splash.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: var(--color-white-standard);
  font-family: var(--font-content-500);
}
