.interactiveStory {
  opacity: 50%;
  transition: scale 100ms ease-in-out;
}

.interactiveStory:hover {
  scale: 1.1;
}

.interactiveStory > img {
  object-fit: cover;
  transition: width 200ms ease-in-out, height 200ms ease-in-out,
    box-shadow 200ms ease-in-out, border-raius 200ms ease-in-out,
    opacity 200ms ease-in-out;
}

.active,
.interactiveStory:hover {
  opacity: 100%;
}

.active > img,
.interactiveStory:hover > img {
  /* FIXME: this needs to be inset and is currently not according to design. */
  border: 0.1rem solid rgba(255, 255, 255, 0.24);
  box-shadow: var(--style-fancy-box-shadow);
  border-radius: var(--dim-border-radius-large);
  width: 32rem;
  height: 24rem;
}

.image {
  width: 15rem;
  height: 20rem;
  border-radius: var(--dim-border-radius-smaller);
}

.actionButtons {
  display: inline-flex;
  margin-top: 0.5rem;
  gap: 1.5rem;
}

.actionButtons > * {
  border: none;
  background: none;
  font-size: 1rem;
  padding: 0;
  transition: none;
}

.actionButtons > *:hover {
  background: none !important;
}

.title {
  margin-top: 0.75rem !important;
}

.description {
  margin: 0.5rem 0 !important;
}
